ol{
    list-style-type: square;
}
li{
    border-bottom: 1px solid red;
}
ol{
    list-style-image: url(download.jpg);
}
td, th{
    border: 1px solid;
}
table tbody> tr :nth-child(odd)
{
    background-color: #ddd
}
div{
    width: 200px;
    height: 200px;
    background-color: #efefef;
    overflow-x: auto;


    
}