ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #efefef;
    overflow: hidden;
    display: inline-block;
    height: 100%;
    width: 350px;
}

ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#222;
}

   
ul li a:hover:not(.active){
    background-color: #111;
    color: white;

}
.active{
    background-color: #4caf50;
    color: white;
}
body{
    margin: 0;
}
ul li{
    font-weight: 400x;
}