.text-style{
color: green;
letter-spacing: 10px;
word-spacing: 15px;
text-decoration: line-through;
text-align: justify;
font-size: 40px;
font-family: "roboto"
}
@font-face {
    font-family: 'roboto';
    src: url('./Font/RobotoCondensed-Regular.ttf');
}
