.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 30px;
}
.flex-item{
    background-color: brown;
    padding: 30px;
    margin: 15px;
    border: 1px solid green;
    flex-grow: 2;
}